@font-face {
    font-family: 'Lobster';
    src: url("../assets/fonts/Lobster-Regular.ttf");
    font-weight: normal;
}

@font-face{
    font-family: "Recursive";
    src: url("../assets/fonts/Recursive-Regular-CASL=0-CRSV=0-MONO=0-slnt=0.ttf");
    font-weight: normal;
}

@font-face{
    font-family: "Recursive";
    src: url("../assets/fonts/Recursive-Light-CASL=0-CRSV=0-MONO=0-slnt=0.ttf");
    font-weight: lighter;
}

@font-face{
    font-family: "Recursive";
    src: url("../assets/fonts/Recursive-Bold-CASL=0-CRSV=0-MONO=0-slnt=0.ttf");
    font-weight: bold;
}
