@import "../../reusable/mixins";
@import "../../reusable/fonts";

body{
    background-color: $dark;
}

.projects{
    font-family: "Recursive";
    background-color: $dark;
    color: $white;
    margin: auto 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    &__title{
        font-weight: normal;
        margin-top: 40px;
        @include tabletSize{
            width: 100%;
            margin-bottom: 20px;
        }
        &--image{
            height: 100px;
            width: 100px;
            margin-bottom: 20px;
        }
    }
    &__computer{
        height: 200px;
        width: 300px;
        @include tabletSize{
            height: 100%;
            width: 100%;
        }
    }
    &__container{
        margin:20px 0;
        background-color: $darkBlue;
        height: fit-content;
        border-radius: 20px;
        text-transform: uppercase;
        font-size: 24px;
        width: 100%;
        @include tabletSize{
            width: fit-content;
            width: 100%;
            

        }

        &--work{
            @include tabletSize{
                display: flex;
                justify-content: space-evenly;
                }
        }
    }
    &__project{
        background-color: $darkBlue;
        border-radius: 20px;
        margin-bottom: 20px;
        @include tabletSize {
            margin: 20px 10px;
            margin-left: 0;
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
        }
        &--front{
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include tabletSize{
                align-items: center;
            }
        }
        &--back{
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 20px;
        }
    }
    &__name{
        font-weight: normal;
    }
    &__info{
        font-size: 16px;
        padding: 24px;
    }


    &__button{
        font-family: "Recursive";
        color: $white;
        text-decoration: none;
        margin: auto 5px;
        border: 1px solid $white;
        border-radius: 5px;
        background-color: $darkBlue;
        margin: 20px auto;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        &:hover{
            background-color: $blue;
        }
}
}

.github{
    font-family: "Recursive";
    color: $white;
    text-decoration: none;
    margin: auto 5px;
    border: 1px solid $white;
    border-radius: 5px;
    background-color: $darkBlue;
    margin: 20px auto;
    width: fit-content;
    font-size: 28px;
        &:hover{
            background-color: $blue;
        }
}

.fix{
    justify-content: space-evenly;
}