@import "../../reusable/mixins";
@import "../../reusable/fonts";

.skills{
font-family: "Recursive";
background-color: $dark;
color: $white;
display: flex;
flex-direction: column;
justify-content: space-evenly;
margin: auto 24px;

@include tabletSize{
    

}

&__glass{
    height: 100px;
    width: 100px;
}

    &__title{
        background-color: $darkBlue;
        height: fit-content;
        border-radius: 20px;
        text-transform: uppercase;
        font-size: 24px;
        padding-top: 20px;
        margin-top: 40px;
        @include tabletSize{
            width: 100%;
            margin-bottom: 40px;
        }
    }

    &__container{
        margin:20px 0;
        @include tabletSize{
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        }
        &--divider{
            margin: 20px 0;
            background-color: $darkBlue;
            border-radius: 20px;
            @include tabletSize {
                margin: 0 10px;
                padding: 20px 40px;
                display: flex;
                width: 33%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: space-between;
                
            }
        }
        &--text{
            padding: 24px;
            @include tabletSize{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            }
        }
        &--images{
            display: flex;
            margin-left: 20px;
            padding-bottom: 20px;
            flex-wrap: wrap;
            @include tabletSize{
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
    &__text{
        padding: 10px;
        border-bottom: 3px solid $dark;
        width: fit-content;
        // border-radius: 3px;
        font-size: 18px;
        cursor: default;
    }
    &__image{
        width: auto;
        height: 3rem;
        margin: 5px;
        padding: 10px;
        
    }
    &__sub{
        padding: 10px;
        background-color: $dark;
        width: fit-content;
        font-weight: normal;
        border-radius: 10px;
        font-size: 18px;
    }
}
